<%- include("../partials/header") %>

<div class="row">
    <h1 style="text-align: center; margin: 20px;">Add New Comment to <%= campground.name %></h1>
    <div style="width: 30%; margin: 0 auto;"">
            <form action=" /campgrounds/<%= campground._id %>/comments" method="POST">
        <div class="form-group">
            <textarea class="form-control" name="comment[text]" placeholder="comment"></textarea>
        </div>
        <div class="form-group">
            <button class="btn btn-lg btn-default btn-block btn-primary">Submit!</button>
        </div>
        </form>
        <a href="/campgrounds/<%= campground._id %>">Go Back</a>
    </div>
</div>

<%- include("../partials/footer") %>